.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  /* margin: 3rem 0 0; */
  margin: 0;
}

.container {
  /* margin: 3rem auto 6rem; */
  margin: 0;
}

.mobileContainer {
  height: 100vh;
  width: 100vw;
  touch-action: none;
}
